html,body{margin:0;padding:0;background:#fde1b1 url(../../images/caipiao/emulator_bg.jpg) repeat-x;overflow:hidden}
.ball {
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 50%;
  position: relative;
  background: -webkit-gradient(radial, 50% 120%, 0, 50% 120%, 100, color-stop(0%, #81e8f6), color-stop(10%, #76deef), color-stop(80%, #055194), color-stop(100%, #062745));
  background: -webkit-radial-gradient(50% 120%, circle cover, #81e8f6, #76deef 10%, #055194 80%, #062745 100%);
  background: -moz-radial-gradient(50% 120%, circle cover, #81e8f6, #76deef 10%, #055194 80%, #062745 100%);
  background: -o-radial-gradient(50% 120%, circle cover, #81e8f6, #76deef 10%, #055194 80%, #062745 100%);
  background: radial-gradient(50% 120%, circle cover, #81e8f6, #76deef 10%, #055194 80%, #062745 100%);
}
.ball:before {
  content: "";
  position: absolute;
  top: 1%;
  left: 5%;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: -webkit-gradient(radial, 50% 0px, 0, 50% 0px, 58, color-stop(0%, #ffffff), color-stop(58%, rgba(255, 255, 255, 0)));
  background: -webkit-radial-gradient(50% 0px, circle cover, #ffffff, rgba(255, 255, 255, 0) 58%);
  background: -moz-radial-gradient(50% 0px, circle cover, #ffffff, rgba(255, 255, 255, 0) 58%);
  background: -o-radial-gradient(50% 0px, circle cover, #ffffff, rgba(255, 255, 255, 0) 58%);
  background: radial-gradient(50% 0px, circle cover, #ffffff, rgba(255, 255, 255, 0) 58%);
  -webkit-filter: blur(5px);
  z-index: 2;
}

.ball .shadow {
position: absolute;
width: 100%;
height: 100%;
background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 50, color-stop(0%, rgba(0, 0, 0, 0.4)), color-stop(40%, rgba(0, 0, 0, 0.1)), color-stop(50%, rgba(0, 0, 0, 0)));
background: -webkit-radial-gradient(50% 50%, circle cover, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
background: -moz-radial-gradient(50% 50%, circle cover, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
background: -o-radial-gradient(50% 50%, circle cover, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
background: radial-gradient(50% 50%, circle cover, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
-webkit-transform: rotateX(90deg) translateZ(-150px);
-moz-transform: rotateX(90deg) translateZ(-150px);
-ms-transform: rotateX(90deg) translateZ(-150px);
-o-transform: rotateX(90deg) translateZ(-150px);
transform: rotateX(90deg) translateZ(-150px);
z-index: -1;
}
.ball p{margin:0;padding:0;text-align:center;color:#ccc;font-size:8px;font-family:arial;text-shadow:2px 1px 4px #333333;padding-top:3px}
.stage {
  width: 16px;
  height: 16px;
  margin: 0px;
  display: inline-block;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -ms-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  -o-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}
.red{
  background: -webkit-gradient(radial, 50% 120%, 0, 50% 120%, 100, color-stop(0%, #FFCACA), color-stop(10%, #FF2F2F), color-stop(80%, #DF0000), color-stop(100%, #062745));
  background: -webkit-radial-gradient(50% 120%, circle cover, #FFCACA, #FF2F2F 10%, #DF0000 80%, #062745 100%);
  background: -moz-radial-gradient(50% 120%, circle cover, #FFCACA, #FF2F2F 10%, #DF0000 80%, #062745 100%);
  background: -o-radial-gradient(50% 120%, circle cover, #FFCACA, #FF2F2F 10%, #DF0000 80%, #062745 100%);
  background: radial-gradient(50% 120%, circle cover, #FFCACA, #FF2F2F 10%, #DF0000 80%, #062745 100%);
}
.darkblue{
  background: -webkit-gradient(radial, 50% 120%, 0, 50% 120%, 100, color-stop(0%, #5599FF), color-stop(10%, #0066FF), color-stop(80%, #055194), color-stop(100%, #5599FF));
  background: -webkit-radial-gradient(50% 120%, circle cover, #5599FF, #0066FF 10%, #055194 80%, #5599FF 100%);
  background: -moz-radial-gradient(50% 120%, circle cover, #5599FF, #0066FF 10%, #055194 80%, #5599FF 100%);
  background: -o-radial-gradient(50% 120%, circle cover, #5599FF, #0066FF 10%, #055194 80%, #5599FF 100%);
  background: radial-gradient(50% 120%, circle cover, #5599FF, #0066FF 10%, #055194 80%, #5599FF 100%);
}
.darkblue p{color:#fff}
a.button {
    display: block;
    float: left;
    position: relative;
    height: 25px;
    width: 80px;    
    text-decoration: none;
    font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    line-height: 25px;
    text-align: center;
    
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  .result{position:absolute;bottom:11px;left:33px;width:254px;text-align:center;display:none}
  .result .stage{width:20px;height:21px;margin-right:8px}
  .result .stage p{font-weight:bold;font-size:12px;padding-top:1px;color:#fff}
  
  a.button:before,
  a.button:after {
    content: '';
    position: absolute;
    left: -1px;
    height: 25px;
    width: 80px;
    bottom: -1px;
    
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px;
    border-radius: 3px;
  }

  a.button:before { 
    height: 23px;
    bottom: -4px;
    border-top: 0;
    
    -webkit-border-radius: 0 0 3px 3px; 
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    
    -webkit-box-shadow: 0 1px 1px 0px #bfbfbf;
    -moz-box-shadow: 0 1px 1px 0px #bfbfbf;
    box-shadow: 0 1px 1px 0px #bfbfbf;
  }

  /* GRAY */
  a.gray,
  a.gray:hover,
  a.gray:visited {
    color: #555;
    border-bottom: 4px solid #b2b1b1;
    text-shadow: 0px 1px 0px #fafafa;
    
    background: #eee;
    background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#e2e2e2));
    background: -moz-linear-gradient(top,  #eee,  #e2e2e2);
    
    box-shadow: inset 1px 1px 0 #f5f5f5;
  }

  .gray:before,
  .gray:after {
    border: 1px solid #cbcbcb;
    border-bottom: 1px solid #a5a5a5;
  }

  a.gray:hover {
    background: #e2e2e2;
    background: -webkit-gradient(linear, left top, left bottom, from(#e2e2e2), to(#eee));
    background: -moz-linear-gradient(top,  #e2e2e2,  #eee);
  }

  /* PINK */
  a.pink,
  a.pink:hover,
  a.pink:visited {
    color: #913944;
    border-bottom: 4px solid #cb5462;
    text-shadow: 0px 1px 0px #f9a0ad;
    
    background: #f56778;
    background: -webkit-gradient(linear, left top, left bottom, from(#f997b0), to(#f56778));
    background: -moz-linear-gradient(top,  #f997b0,  #f56778);
    
    box-shadow: inset 1px 1px 0 #fbc1d0;
  }

  .pink:before,
  .pink:after {
    border: 1px solid #ee8090;
    border-bottom: 1px solid #b84d5a;
  }

  a.pink:hover {
    background: #f56778;
    background: -webkit-gradient(linear, left top, left bottom, from(#f56778), to(#f997b0));
    background: -moz-linear-gradient(top,  #f56778,  #f997b0);
  }

  /* BLUE */
  a.blue,
  a.blue:hover,
  a.blue:visited {
    color: #42788e;
    border-bottom: 4px solid #589cb6;
    background: #abe4f8;
    
    text-shadow: 0px 1px 0px #bee9fa;
    background: -webkit-gradient(linear, left top, left bottom, from(#abe4f8), to(#74d0f4));
    background: -moz-linear-gradient(top,  #abe4f8,  #74d0f4);
    
    box-shadow: inset 1px 1px 0 #b2e6f8;
  }

  .blue:before,
  .blue:after {
    border: 1px solid #8cc5d9;
    border-bottom: 1px solid #4e8aa1;
  }

  a.blue:hover {
    background: #74d0f4;
    background: -webkit-gradient(linear, left top, left bottom, from(#74d0f4), to(#abe4f8));
    background: -moz-linear-gradient(top,  #74d0f4,  #abe4f8);
  }

  /* GREEN */
  a.green,
  a.green:hover,
  a.green:visited {
    color: #5d7731;
    border-bottom: 4px solid #799545;
    text-shadow: 0px 1px 0px #d5e8aa;
    
    background: #cae285;
    background: -webkit-gradient(linear, left top, left bottom, from(#cae285), to(#a3cd5a));
    background: -moz-linear-gradient(top,  #cae285,  #a3cd5a);
    
    box-shadow: inset 1px 1px 0 #cce3a1;
  }

  .green:before,
  .green:after {
    border: 1px solid #98b85b;
    border-bottom: 1px solid #6d883b;
  }

  a.green:hover {
    background: #a3cd5a;
    background: -webkit-gradient(linear, left top, left bottom, from(#a3cd5a), to(#cae285));
    background: -moz-linear-gradient(top,  #a3cd5a,  #cae285);
  }

  /* TURQUOISE */
  a.turquoise,
  a.turquoise:hover,
  a.turquoise:visited {
    color: #437b7d;
    border-bottom: 4px solid #4fa7aa;
    text-shadow: 0px 1px 0px #9fd5d7;
    
    background: #81e8eb;
    background: -webkit-gradient(linear, left top, left bottom, from(#b7f2f4), to(#81e8eb));
    background: -moz-linear-gradient(top,  #b7f2f4,  #81e8eb);
    
    box-shadow: inset 1px 1px 0 #d4f8f8;
  }

  .turquoise:before,
  .turquoise:after {
    border: 1px solid #87d3d5;
    border-bottom: 1px solid #47989b;
  }

  a.turquoise:hover {
    background: #81e8eb;
    background: -webkit-gradient(linear, left top, left bottom, from(#81e8eb), to(#b7f2f4));
    background: -moz-linear-gradient(top,  #81e8eb,  #b7f2f4);
  }

  /* BLACK */
  a.black,
  a.black:hover,
  a.black:visited {
    color: #fff;
    border-bottom: 4px solid #414141;
    text-shadow: 0px 1px 0px #2f2f2f;
    
    background: #656565;
    background: -webkit-gradient(linear, left top, left bottom, from(#656565), to(#444));
    background: -moz-linear-gradient(top,  #656565,  #444);
    
    box-shadow: inset 1px 1px 0 #939393;
  }

  .black:before,
  .black:after {
    border: 1px solid #535353;
    border-bottom: 1px solid #343434;
  }

  .black:after { border: 1px solid #5a5a5a; }

  a.black:hover {
    background: #444;
    background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#656565));
    background: -moz-linear-gradient(top,  #444,  #656565);
  }

  /* DARK GRAY */
  a.darkgray,
  a.darkgray:hover,
  a.darkgray:visited {
    color: #555;
    border-bottom: 4px solid #878787;
    text-shadow: 0px 1px 0px #d6d6d6;
    
    background: #d1d1d1;
    background: -webkit-gradient(linear, left top, left bottom, from(#d1d1d1), to(#afafaf));
    background: -moz-linear-gradient(top,  #d1d1d1,  #afafaf);
    
    box-shadow: inset 1px 1px 0 #e3e3e3;
  }

  .darkgray:before,
  .darkgray:after {
    border: 1px solid #b4b4b4;
    border-bottom: 1px solid #7b7b7b;
  }

  a.darkgray:hover {
    background: #afafaf;
    background: -webkit-gradient(linear, left top, left bottom, from(#afafaf), to(#d1d1d1));
    background: -moz-linear-gradient(top,  #afafaf,  #d1d1d1);
  }

  /* YELLOW */
  a.yellow,
  a.yellow:hover,
  a.yellow:visited {
    color: #996633;
    border-bottom: 4px solid #b98a37;
    text-shadow: 0px 1px 0px #fedd9b;
    
    background: #feda71;
    background: -webkit-gradient(linear, left top, left bottom, from(#feda71), to(#febe4d));
    background: -moz-linear-gradient(top,  #feda71,  #febe4d);
    
    box-shadow: inset 1px 1px 0 #fee9aa;
  }

  .yellow:before,
  .yellow:after {
    border: 1px solid #eab551;
    border-bottom: 1px solid #9f7630;
  }

  a.yellow:hover {
    background: #febe4d;
    background: -webkit-gradient(linear, left top, left bottom, from(#febe4d), to(#feda71));
    background: -moz-linear-gradient(top,  #febe4d,  #feda71);
  }

  /* PURPLE */
  a.purple,
  a.purple:hover,
  a.purple:visited {
    color: #7b5777;
    border-bottom: 4px solid #946890;
    text-shadow: 0px 1px 0px #eacae6;
    
    background: #e8c4e4;
    background: -webkit-gradient(linear, left top, left bottom, from(#e8c4e4), to(#d698d0));
    background: -moz-linear-gradient(top,  #e8c4e4,  #d698d0);
    
    box-shadow: inset 1px 1px 0 #f2dcef;
  }

  .purple:before,
  .purple:after {
    border: 1px solid #da9fd4;
    border-bottom: 1px solid #865d82;
  }

  a.purple:hover {
    background: #d698d0;
    background: -webkit-gradient(linear, left top, left bottom, from(#d698d0), to(#e8c4e4));
    background: -moz-linear-gradient(top,  #d698d0,  #)e8c4e4;
  }

  /* DARK BLUE */
  a.darkblue,
  a.darkblue:hover,
  a.darkblue:visited {
    color: #515f6a;
    border-bottom: 4px solid #62727e;
    text-shadow: 0px 1px 0px #c4d0da;
    
    background: #becbd6;
    background: -webkit-gradient(linear, left top, left bottom, from(#becbd6), to(#8da5b7));
    background: -moz-linear-gradient(top,  #becbd6,  #8da5b7);
    
    box-shadow: inset 1px 1px 0 #d8e0e6;
  }

  .darkblue:before,
  .darkblue:after {
    border: 1px solid #a1aeb7;
    border-bottom: 1px solid #5d6b75;
  }

  a.darkblue:hover {
    background: #8da5b7;
    background: -webkit-gradient(linear, left top, left bottom, from(#8da5b7), to(#becbd6));
    background: -moz-linear-gradient(top,  #8da5b7,  #becbd6);
  }

  /* ACTIVE STATE */
  a.button:active {
    border: none;
    bottom: -4px;
    margin-bottom: 22px;
    
    -webkit-box-shadow: 0 1px 1px #fff;
    -moz-box-shadow:  0 1px 1px #fff;
    box-shadow:  1px 1px 0 #fff, inset 0 1px 1px rgba(0, 0, 0, 0.3);
  }

  a.button:active:before,
  a.button:active:after {
    border: none; 
    
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
 .action{text-align:center;width:80px;margin:0 auto;}

.clear{clear:both}
.emulator{position:relative;width:320px;margin:0 auto}
.ballBox{position:absolute;}
.xBox{position:relative;width:68px;height:235px;}
/*
.test{position:absolute;border:1px solid red;left:4px;top:137px;width:58px;height:90px}
*/
#luckyBox{margin:20px 8px;position:relative}
.selector{position:absolute;left:0;right:0;}
.animal .selector,.star .selector{width:48px;height:50px}
.blood .selector{width:150px;height:70px}
.center_focus{position:absolute;width:76px;height:76px;left:114px;top:114px;background:url(../../images/caipiao/center.png)}
.arrow{position:absolute;left:140px;top:45px;width:28px;height:220px;background:url(../../images/caipiao/arrow.png) no-repeat}
.panel{position:absolute;left:50px;top:60px}
.panel h3{color:#BE2C13;text-shadow: 1px 1px 1px #fff;font-size:20px}
.panel input {width:200px;border:2px solid #dadada;font-size:20px;padding:5px;margin-top:-10px}
.panel input:focus { outline:none;border-color:#9ecaed;box-shadow:0 0 10px #9ecaed;}
input[type=radio], input[type=checkbox] {display:none;}

input[type=radio] + label, input[type=checkbox] + label {
		display:inline-block;
		margin:-2px;
		padding: 4px 12px;
		margin-bottom: 0;
		font-size: 14px;
		line-height: 20px;
		color: #333;
		text-align: center;
		text-shadow: 0 1px 1px rgba(255,255,255,0.75);
		vertical-align: middle;
		cursor: pointer;
		background-color: #f5f5f5;
		background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
		background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
		background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
		background-image: -o-linear-gradient(top,#fff,#e6e6e6);
		background-image: linear-gradient(to bottom,#fff,#e6e6e6);
		background-repeat: repeat-x;
		border: 1px solid #ccc;
		border-color: #e6e6e6 #e6e6e6 #bfbfbf;
		border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
		border-bottom-color: #b3b3b3;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
		filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
		-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
		-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	}

	 input[type=radio]:checked + label, input[type=checkbox]:checked + label{
		   background-image: none;
		outline: 0;
		-webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
		-moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
		box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
			background-color:#e0e0e0;
	}