<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vue</title>

    <script src="js/vue.js"></script>
   
</head>

<body>
    <div id="app">
       <ul>
           <li v-for="(item, index) in items" :key="index">
              {{parentMsg}} - {{item.index}} - {{item.username}}
          </li>
       </ul>
       <hr>
       <ul>
           <li v-for="item of items">
               {{item.username}} - {{item.age}}
           </li>
       </ul>
       <hr>
       <ul>
           <li v-for="value in jsonObj">
               {{value}}
           </li>
       </ul>
       <hr>
       <ul>
            <li v-for="(value, key, index) in jsonObj">
              {{index}} - {{key}} : {{value}}
            </li>
        </ul>
    </div>
    <script>
        
          var vue = new Vue({
             el: '#app',
             data: {
                 parentMsg: 'parent',
                 items:[
                     {username:'张三', age: 20},
                     {username:'李四', age: 30},
                 ],
                 jsonObj: {
                     firstName: 'tom',
                     lastName: 'cruise',
                     age: 50
                 }
               
             },
            
         })     
    </script>
</body>

</html>