<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vue</title>

    <script src="js/vue.js"></script>

</head>

<body>

    <div id="app">
        <button-counter></button-counter>
        <button-counter></button-counter>
        <button-counter></button-counter>
        <hr>
        <blog-post title="aaaaa"></blog-post>
        <blog-post title="bbbbb"></blog-post>
        <blog-post title="ccccc"></blog-post>
        <hr>

        <blog-post v-for="post in posts" v-bind:key="post.id" v-bind:title="post.title"></blog-post>
        <hr>

        <div :style="{ fontSize: postFontSize + 'em'}">
            <blog-post-new v-for="post in posts" v-bind:id="post.id" v-bind:post="post" v-on:enlarge-text="postFontSize += $event"></blog-post-new>
        </div>
        <hr>

        <costom-input v-model="searchText"></costom-input>
        <span>{{searchText}}</span>
        <hr>

        <alert-box>
            something bad !
        </alert-box>

    </div>
    <script>
        // 定义一个名为 button-counter 的新组件
        Vue.component('button-counter', {
            data: function () {
                return {
                    count: 0
                }
            },
            template: '<button v-on:click="count++">You clicked me {{ count }} times.</button>'
        });

        Vue.component('blog-post', {
            props: ['title'],
            template: '<h3>{{ title }}</h3>'
        })

        Vue.component('blog-post-new', {
            props: ['post'],
            template: `
                <div>
                    <h3>{{ post.title }}</h3>
                    <button v-on:click="$emit('enlarge-text', 0.1)">Enlarge text</button>
                    <div v-html="post.content"></div>
                </div>
            `
        })

        Vue.component('costom-input', {
            props: ['value'],
            template: `
                <input v-bind:value="value" v-on:input="$emit('input', $event.target.value)" >
            `
        })


        Vue.component('alert-box', {
            template: `
                <div class="demo-alert-box">
                    <strong>Error!</strong>
                    <slot></slot>
                </div>
            `
        })

        var app = new Vue({
            el: '#app',
            data: {
                posts: [
                    { id: 1, title: 'My journey with Vue', content: '<a>aaaaaaa</a>' },
                    { id: 2, title: 'Blogging with Vue', content: 'bbbbbb' },
                    { id: 3, title: 'Why Vue is so fun', content: 'cccccc' }
                ],
                postFontSize: 1,
                searchText: ''
            }
        })

        

    </script>

    
</body>

</html>