<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vue</title>

    <script src="js/vue.js"></script>
   
</head>

<body>
    <div id="app">
       <ul>
           <li v-for="(item, index) in items" :key="index">
              {{parentMsg}} - {{item.index}} - {{item.username}}
          </li>
       </ul>
       <hr>
       <ul>
           <li v-for="item of items">
               {{item.username}} - {{item.age}}
           </li>
       </ul>
       <hr>
       <ul>
           <li v-for="value in jsonObj">
               {{value}}
           </li>
       </ul>
       <hr>
       <ul>
            <li v-for="(value, key, index) in jsonObj">
              {{index}} - {{key}} : {{value}}
            </li>
        </ul>
    </div>
    <div id="app1">

    </div>
    <script>
        
          var vue = new Vue({
             el: '#app',
             data: {
                 parentMsg: 'parent',
                 items:[
                     {username:'张三', age: 20},
                     {username:'李四', age: 30},
                 ],
                 jsonObj: {
                     firstName: 'tom',
                     lastName: 'cruise',
                     age: 50
                 }
               
             },
            
         }) 

         var vm = new Vue({
            el: '#app1',
            data: {
                items: ['a', 'b', 'c']
            }
        })
        vm.items[1] = 'x' // 不是响应性的
        vm.items.length = 2 // 不是响应性的 
        //以下两种等同于  vm.items[1] = 'x'
        // vm.set(vm.items, indexOfItem, newValue);
        // vm.$set(vm.items, indexOfItem, newValue)
        // vm.items.splice(indexOfItem, 1, newValue)

        // 以下等同于 vm.items.length = 2
        // vm.items.splice(newLength)
    </script>
</body>

</html>