<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vue</title>

    <script src="js/vue.js"></script>

</head>

<body>
    <div id="app">
        <input type="text" v-model="message" placeholder="Edit it">
        <p>message is {{message}}</p>
        <hr>

        <!-- 在“change”时而非“input”时更新 -->
        change:<input v-model.lazy="msg" id="msg" v-bind:change="show">
        <input v-model="msg" @change="show">
        <span>{{msg}}</span>
        <hr>

        number:<input type="number" v-model.number="age">
        <hr>

        trim:<input type="text" v-model.trim="msg">

    </div>
    <hr>
    <div id="app2">
        <textarea v-model="message" cols="30" rows="10" placeholder="add multiple lines"></textarea><br>
        <span>Multiline message is:</span>
        <p style="white-space: pre-line;">{{ message }}</p>
    </div>
    <hr>
    <div id="app3">
        <input type="checkbox" v-model="checked" id="checkbox">
        <label for="checkbox">{{checked}}</label>

        <hr>

        <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
        <label for="jack">Jack</label>
        <input type="checkbox" id="john" value="John" v-model="checkedNames">
        <label for="john">John</label>
        <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
        <label for="mike">Mike</label>
        <br>
        <span>Checked names: {{ checkedNames }}</span>

        <hr>

        <input type="checkbox" name="checkNew" id="checkNew" v-model="toggle" true-value="yes" false-value="no">
        <label for="checkNew">{{toggle}}</label>

        <hr>

        <input type="radio" id="one" value="One" v-model="picked">
        <label for="one">One</label>
        <br>
        <input type="radio" id="two" value="Two" v-model="picked">
        <label for="two">Two</label>
        <br>
        <span>Picked: {{ picked }}</span>

        <hr>
        <input type="radio" id="pick" v-model="pick" v-bind:value="a">
        <label for="pick">{{a}}</label>
        <hr>

        <select name="select" id="select" v-model="select">
            <option disabled value="">请选择</option>
            <option value="aaa">aaa</option>
            <option value="bbb">bbb</option>
            <option value="ccc">cccc</option>
        </select>
        <br>
        <span>select: {{ select }}</span>

        <hr>

        <select name="select1" id="select1" multiple v-model="select1">
            <option value="aaa">aaa</option>
            <option value="bbb">bbb</option>
            <option value="ccc">cccc</option>
        </select>
        <br>
        <span>select1: {{ select1 }}</span>

        <hr>

        <select name="select2" id="select2" v-model="select2">
            <option v-for="(item, index) in select2eds" :key="index" v-bind:value="item.value">{{item.text}}</option>
        </select>
        <br>
        <span>select2: {{ select2 }}</span>

    </div>
    <script>
        var app1 = new Vue({
            el: '#app',
            data: {
                message: '',
                msg: 'aaa',
                age: 20
            },
            methods: {
                show: function () {
                    console.log(this.msg)
                }
            },
        });

        var app2 = new Vue({
            el: '#app2',
            data: {
                message: ''
            }
        })

        var app3 = new Vue({
            el: '#app3',
            data: {
                checked: false,
                checkedNames: [],
                picked: '',
                a: '',
                select: '',
                select1: [],
                select2: 'A',
                select2eds: [
                    { text: 'One', value: 'A' },
                    { text: 'Two', value: 'B' },
                    { text: 'Three', value: 'C' }
                ],
                toggle: 'no',
                pick: ''
            }
        })

    </script>
</body>

</html>